/*FONTS IMPORT*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
@import url(http://fonts.googleapis.com/css?family=Roboto);

.shadow{moz-box-shadow:0 1px 2px rgba(0,0,0,.05);-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05);}
.clear{clear:both;}
.no-outline{outline:none;outline-color: transparent;}
.hidden{display:none;}
.centered{margin:0 auto;}


/*FLOATS*/
.float-left{float:left;}
.float-right{float:right};

/*COLOURS*/
.white{color:#fff;}
.black{color:#000;}
.dark{color:#333;}
.grey{color:#777;}
.red{color:#f30;}
.blue{color:#08c;}
.orange{color:#f60;}

/*BACKGROUND COLOURS*/
.bg-grey{background:#e3e3e3;}
.bg-dark{background:#333;}
.bg-white{background:#fff;}
.bg-black{background:#000;}
.bg-red{background:#f00;}
.bg-blue{background:#08C;}
.bg-orange{background:#f60;}

/*MARGINS*/
.margin-bottom-1x{margin-bottom:10px;}
.margin-bottom-2x{margin-bottom:20px;}
.margin-bottom-3x{margin-bottom:30px;}
.margin-bottom-4x{margin-bottom:40px;}
.margin-bottom-5x{margin-bottom:50px;}
.margin-top-1x{margin-top:10px;}
.margin-top-15x{margin-top:15px;}
.margin-top-2x{margin-top:20px;}
.margin-top-3x{margin-top:30px;}
.margin-top-4x{margin-top:40px;}
.margin-top-5x{margin-top:50px;}
.mb1{margin-bottom:10px;}
.mb2{margin-bottom:20px;}
.mb3{margin-bottom:30px;}
.mg10{margin:10px}
.mg10a{margin:10px auto}
.mg20{margin:20px}
.mg20a{margin:20px auto}


/*PADDING*/
.pb-1x{padding-bottom:10px;}
.pb-2x{padding-bottom:20px;}
.pb-3x{padding-bottom:30px;}
.pb-4x{padding-bottom:40px;}
.pb-5x{padding-bottom:50px;}
.pd-1x{padding:10px;}
.pd-10{padding:10px;}
.pd-15{padding:15px;}
.pd-5{padding:5px;}
.pt-10{padding-top:10px;}
.pt-15{padding-top:15px;}
.pt-20{padding-top:20px;}
.pt-30{padding-top:30px;}
.pt-40{padding-top:40px;}


/*CURSORS*/
.cursor-no-drop{cursor:no-drop;}
.cursor-help{cursor:help;}
.cursor-wait{cursor:wait;}
.cursor-pointer{cursor:pointer;}

/*PADDINGS*/
.pa-10px{padding:10px;}

/*LINES*/
.line-overline{text-decoration:overline;}
.line-through{text-decoration:line-through;}
.line-underline{text-decoration:underline;}
.line-no-underline{text-decoration: none;}

/*ALIGN*/
.align-center{text-align: center;}
.align-left{text-align:left;}
.align-right{text-align: right;}
.align-justify{text-align: justify}
.centered{margin:0 auto;}


/*BUTTONS*/
.btn40{height:40px;}

.btn-green{background:#38d02f;color:#fff;}
.btn-green:hover{}
.btn-dark-grey{background:#333;color:#fff;}
.btn-dark-grey:hover{color:#fff;background:#555;}
.btn-orange{background:#f60;color:#fff;}
.btn-orange:hover{color:#fff;background:#f30;}
.btn-third{width:33%;margin:0 auto;}


/*FONT WEIGHT*/
.fw-bold{font-weight: bold;}
.fw-normal{font-weight: normal;}
.fw-light{font-weight: lighter;}
.fw-100{font-weight:100;}
.fw-200{font-weight:200;}
.fw-300{font-weight:300;}
.fw-400{font-weight:400;}
.fw-500{font-weight:500;}
.fw-600{font-weight:600;}


/*TEXT DECORATION*/
.line-through{text-decoration: line-through;}

/*WIDTH*/


/*MAX WIDTH*/
.mw100{max-width: 100px;}
.mw150{max-width: 150px;}
.mw200{max-width: 200px;}
.mw250{max-width: 250px;}
.mw300{max-width: 300px;}
.mw320{max-width: 320px;}
.mw350{max-width: 350px;}

/*MIN WIDTH*/
.minw100{min-width: 100px;}
.minw200{min-width: 200px;}
.minw250{min-width: 250px;}
.minw300{min-width: 300px;}
.minw350{min-width: 350px;}
.minw400{min-width: 400px;}
.minw450{min-width: 450px;}
.minw500{min-width: 500px;}

/*HEIGHTS*/
.height10{height:10px;line-height:10px;}
.height20{height:20px;line-height:20px;}
.height30{height:30px;line-height:30px;}
.height40{height:40px;line-height:40px;}
.height50{height:50px;line-height:50px;}


/*FONT SIZE*/
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs22{font-size:22px;}
.fs25{font-size:25px;}
.fs32{font-size:32px;}
.fs40{font-size:40px;}
.fs60{font-size:60px;}


/*VISIBILITY*/
.hideit{opacity: 0;}
.showit{opacity: 1;}


/*ROTATION*/
.rotate-left{
-webkit-transform: rotate(-35deg);
-moz-transform: rotate(-35deg);
-ms-transform: rotate(-35deg);
-o-transform: rotate(-35deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rotate-right{
-webkit-transform: rotate(35deg);
-moz-transform: rotate(35deg);
-ms-transform: rotate(35deg);
-o-transform: rotate(35deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


/*CUSTOM BUTTONS*/
.btn-black-transparent{border:1px solid #333;color:#333;text-transform: uppercase;font-size:20px;height:40px;line-height:35px;width:300px;margin:0 auto;text-align: center;}
.btn-black-transparent:hover{background:#333;color:#fff;}
.transition{-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition: all 0.5s;}
.btn:focus {outline:none;}
.btn-file {position: relative;overflow: hidden;}
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;filter: alpha(opacity=0);opacity: 0;outline: none;background:#fff;cursor: inherit;display: block;}

/*BUTTONS*/
.but{font-family:Roboto, Futura, sans-serif;height:40px;line-height: 35px;text-align: center;font-size:16px;font-weight: 300;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-ms-transition:all 0.5s;-o-transition:all 0.5s;transition: all 0.5s;overflow: hidden;text-overflow: ellipsis;}
.but-350{width:100%;max-width: 350px;}
a > .but:hover{text-decoration: none;}
.but-dark{border:2px solid #333;}
.but-dark:hover{background:#333;}
a > .but-dark{color:#333;}
a > .but-dark:hover{color:#fff;}
.but-white{border:2px solid #fff;}
.but-white:hover{background:#fff;}
a > .but-white{color:#fff;}
a > .but-white:hover{color:#333;}


/*LINES*/
.hl{width:100%;height:1px;}